/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(65, 49, 202);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.team {
  position: relative;
  padding: 50px 0;
}
.team__title {
  margin-bottom: 30px;
  font-size: 42px;
line-height: 55px;
text-align: center;
color: #FFFFFF;
}
.team__info {
  max-width: 460px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 16px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
}
.team__vrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.team__card {
  margin-bottom: 30px;
  padding: 32px 0;
  width: 270px; 
  height: 260px;
  background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
border-radius: 34px;
transform: scale(1);
&:hover {
  transform: scale(1.1);
}
}
.team__card-img {
  margin-bottom: 25%;
  margin: 0 auto;
  height: 100px;
}

// .team__card:hover .team__card-img {
// margin-top: 0;
// transform: rotate3d(360deg);
// transform-origin: right;
// }

.team__card-box {
  transform: scale(1);
}
.user__name {
  margin-top: 0;
  font-weight: 500;
font-size: 28px;
line-height: 36px;
text-align: center;
color: #FFFFFF;
}
.user__job {
  font-size: 16px;
line-height: 21px;
letter-spacing: 0.03em;
text-transform: uppercase;
text-align: center;
color: #FFFFFF;
}
.user__social {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user__social-img {
  margin: 0 5px;
}
// .team__card:hover .team__card-box {
//   transform: scale(1);
//   transform-origin: right;
// }


.team-box__bgColor {
  width: 250px;
  height: 300px;
  position: absolute;
left: 26.85%;
right:50%;
top: 20%;
bottom: 19.51%;
z-index: -1;
background: #5141DA;
filter: blur(200px);
}

.team-box__bgColor-pink {
width: 100px;
height: 150px;
position: absolute;
left: 10.14%;
right: 80.13%;
top: 20.89%;
bottom: 23.24%;
z-index: -1;
background: #D946EF;
filter: blur(100px);
}



@media only screen and (max-width:600px) {
  .team__title {
    font-size: 25px;
  }
  .team__info {
    font-size: 14px;
  }
  .team__card {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .team-box__bgColor {
    top: 30%;
    right: 5%;
    width: 100px;
    height: 50%;
  }
  .team-box__bgColor-pink {
    left: 5%;
    width: 50px;
    height: 50%;
  }
  .user__name {
    font-size: 20px;
  }
  .user__job {
    font-size: 16px;
  }
}